select 
{% for column in params.columns: -%}
{% if loop.index0+1 < loop.length  -%}
{{ params.indent }}{{ 'src.' }}{{ column }}{{ ',' }}
{% else -%}
{{ params.indent }}{{ 'src.' }}{{ column }}
{% endif -%}
{% endfor -%}
from {{ params.dataset_id }}.{{ params.table_id }}{{ ' as src' }}
