select 
{%- for column in params.columns: -%}
{% if loop.index0 !=0 -%}
{{ params.indent }},{{ column -}}
{% else %}
{{ params.indent }}{{ column -}}
{%- endif %}
{% endfor -%}
from `{{ params.project_id}}`.{{ params.dataset_id }}.{{ params.table_id }}
